@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>

	<span>
		Thank you for the interest shown in our company. Please take a few minutes of your time to
		fill details by clicking onto below button and help us understand your technical skills and personal
		competencies better.
	</span>
	<div>

		<br />

		<a asp-controller="Registration" asp-action="Index" class="btn btn-primary" style="width:150px">
			Go to Registration
		</a>
	</div>
</div>
>
