
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />
<h1>Registration</h1>
<br />
<br />
<table class="table table-bordered table-striped" style="width:55%">
    <thead>
        <tr>
            <th>
                S. No.
            </th>
            <th>
                Steps
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1.
            </td>
            <td>
                <a asp-controller="Registration" asp-action="Personal" class="btn btn-primary" style="width:150px">
                   Personal
                </a>
            </td>
        </tr>
        <tr>
            <td>
                2.
            </td>
            <td>
                <a asp-controller="Registration" asp-action="Education" class="btn btn-primary" style="width:150px">
                    Educational Qualification
                </a>
            </td>
        </tr>
        <tr>
            <td>
                3.
            </td>
            <td>
                <a asp-controller="Registration" asp-action="PrevEmp" class="btn btn-primary" style="width:150px">
                    Previous Employer
                </a>
            </td>
        </tr>
        <tr>
            <td>
                4.
            </td>
            <td>
                <a asp-controller="Registration" asp-action="Assessment" class="btn btn-primary" style="width:150px">
                    Personal Assessment
                </a>
            </td>
        </tr>
        <tr>
            <td>
                5.
            </td>
            <td>
                <a asp-controller="Registration" asp-action="Declaration" class="btn btn-primary" style="width:150px">
                    Declaration
                </a>
            </td>
        </tr>
    </tbody>
</table>
